#contenedor {
    background-color: white;
    border: 2px solid #FF0000;
}

#cabecera {
    background-color: white;
    height: 20%;
}

#menu {
    height: 10%;
    background-color: white;
}

#izquierda {
    height: 606px;
    background-color: white;
    float: left;
    width: 35%;
}

#derecha {
    align-items: center;
    height: 517px;
    background-color: white;
    float: right;
    width: 64%;
}

#pie {
    height: 20%;
    background-color: white;
    clear: both;
}
