USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_FILTRAR_CITAS]    Script Date: 1/5/2023 19:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_FILTRAR_CITAS]    Script Date: 4/29/2023 10:22:29 AM ******/

--Stored procedure para filtrar usuarios
CREATE PROCEDURE [SCH_ADMIN].[SP_FILTRAR_CITAS]
(
@idCita int
)AS
BEGIN
    SET NOCOUNT ON;
    SELECT CT.ID_CITA AS 'CITA',
	CL.ID_CLIENTE AS 'CLIENTE',
	CONCAT(CL.NOMBRE_CLIENTE,' ', CL.APELLIDO1_CLIENTE,' ',CL.APELLIDO2_CLIENTE) AS 'CLIENTE',
	CL.TELEFONO_CLIENTE AS 'TELEFONO',
	CL.CORREO_CLIENTE AS 'CORREO ELECTRONICO',
	ES.NOMBRE_ESPECIALIDAD AS 'ESPECIALIDAD',
	CONCAT(DC.NOMBRE_DOCTOR,' ',DC.APELLIDO1_DOCTOR,' ',DC.APELLIDO2_DOCTOR) AS 'DOCTOR'
	FROM [SCH_ADMIN].[CITAS] CT
	JOIN [SCH_ADMIN].[CLIENTES] CL
	ON CT.ID_CLIENTE=CL.ID_CLIENTE
	JOIN [SCH_ADMIN].[ESPECIALIDADES] ES
	ON CT.ID_ESPECIALIDAD=ES.ID_ESPECIALIDAD
	JOIN [SCH_ADMIN].[DOCTORES] DC
	ON CT.ID_DOCTOR=DC.ID_DOCTOR
    WHERE ([ID_CITA] = @idCita)
END
