USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_LISTAR_ID_CLIENTE]    Script Date: 1/5/2023 19:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SCH_ADMIN].[SP_LISTAR_ID_CLIENTE]
AS
BEGIN
    SELECT [ID_CLIENTE],[NOMBRE_CLIENTE] FROM [SCH_ADMIN].[CLIENTES]
END
