USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_LISTAR_NOMBRE_DOCTOR]    Script Date: 1/5/2023 19:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SCH_ADMIN].[SP_LISTAR_NOMBRE_DOCTOR]
AS
BEGIN
    SELECT [ID_DOCTOR],[NOMBRE_DOCTOR] FROM [SCH_ADMIN].[DOCTORES]
	
END
