USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_LISTAR_NOMBRE_ESPECIALIDAD]    Script Date: 1/5/2023 19:21:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SCH_ADMIN].[SP_LISTAR_NOMBRE_ESPECIALIDAD]
AS
BEGIN
    SELECT [ID_ESPECIALIDAD], [NOMBRE_ESPECIALIDAD] FROM [SCH_ADMIN].[ESPECIALIDADES]
	
END
