USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_LISTAR_DF_CLIENTEID]    Script Date: 1/5/2023 19:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SCH_ADMIN].[SP_LISTAR_DF_CLIENTEID]

AS
BEGIN
    SELECT 
          F.[ID_FACTURA],F.[ID_CLIENTE]
    FROM [SCH_ADMIN].[DETALLE_FACTURA] AS DF
    INNER JOIN [SCH_ADMIN].[FACTURAS] AS F ON DF.[ID_FACTURA] = F.[ID_FACTURA]
	INNER JOIN [SCH_ADMIN].[SERVICIOS] AS S ON DF.ID_SERVICIO=S.ID_SERVICIO
	INNER JOIN [SCH_ADMIN].[ESPECIALIDADES] AS E ON S.ID_ESPECIALIDAD=E.ID_ESPECIALIDAD
	INNER JOIN [SCH_ADMIN].[METODO_PAGO] AS MP ON F.ID_METODO_PAGO=MP.ID_METODO_PAGO
	INNER JOIN [SCH_ADMIN].[CLIENTES] AS C ON F.ID_CLIENTE=C.ID_CLIENTE

END