<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBD" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:83/WCF__BD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBD" contract="BD_Connection.IBD"
        name="BasicHttpBinding_IBD" />
    </client>
  </system.serviceModel>
  
  
  <appSettings>
	  <add key="INSERTAR_CITAS" value="[SCH_ADMIN].[SP_INSERTAR_CITAS]" />
	  <add key="EDITAR_CITAS" value="[SCH_ADMIN].[SP_EDITAR_CITAS]" />
	  <add key="ELIMINAR_CITAS" value="[SCH_ADMIN].[SP_ELIMINAR_CITAS]" />
	  <add key="FILTRAR_CITAS" value="[SCH_ADMIN].[SP_FILTRAR_CITAS]" />
	  <add key="LISTAR_CITAS" value="[SCH_ADMIN].[SP_MOSTRAR_CITAS]" />
	  <add key="INSERTAR_CLIENTES" value="[SCH_ADMIN].[SP_INSERTAR_CLIENTE]" />
	  <add key="EDITAR_CLIENTES" value="[SCH_ADMIN].[SP_ACTUALIZAR_CLIENTE]" />
	  <add key="ELIMINAR_CLIENTES" value="[SCH_ADMIN].[SP_ELIMINAR_CLIENTE]" />
	  <add key="FILTRAR_CLIENTES" value="[SCH_ADMIN].[filtrarClientes]" />
	  <add key="LISTAR_CLIENTES" value="[SCH_ADMIN].[SP_MOSTRAR_EXPEDIENTE_POR_ID_CLIENTE]" />
	  <add key="LISTAR_CLIENTES" value="[SCH_ADMIN].[SP_MOSTRAR_EXPEDIENTE_POR_ID_CLIENTE]" />
	  <add key="INSERTAR_DETALLE FACTURA" value="[SCH_ADMIN].[SP_INSERTAR_DETALLE_FACTURA]" />
	  <add key="EDITAR_DETALLE FACTURA" value="[SCH_ADMIN].[SP_EDITAR_DETALLE_FACTURA]" />
	  <add key="ELIMINAR_DETALLE FACTURA" value="[SCH_ADMIN].[SP_ELIMINAR_DETALLE_FACTURA]" />
	  <add key="FILTRAR_DETALLE FACTURA" value="[SCH_ADMIN].[SP_FILTRAR_DETALLE_FACTURA] " />
	  <add key="LISTAR_DETALLE FACTURA" value="[SCH_ADMIN].[SP_MOSTRAR_DETALLE_FACTURA]" />
	  <add key="INSERTAR_DOCTORES" value="[SCH_ADMIN].[SP_INSERTAR_DOCTOR]" />
	  <add key="EDITAR_DOCTORES" value="[SCH_ADMIN].[SP_EDITAR_DOCTOR]" />
	  <add key="ELIMINAR_DOCTORES" value="[SCH_ADMIN].[SP_ELIMINAR_DOCTOR]" />
	  <add key="FILTRAR_DOCTORES" value="[SCH_ADMIN].[SP_FILTRAR_DOCTOR]" />
	  <add key="LISTAR_DOCTORES" value="[SCH_ADMIN].[SP_MOSTRAR_DOCTORES]" />
	  <add key="INSERTAR_ESPECIALIDADES" value="[SCH_ADMIN].[SP_INSERTAR_ESPECIALIDAD]" />
	  <add key="EDITAR_ESPECIALIDADES" value="[SCH_ADMIN].[SP_EDITAR_ESPECIALIDAD]" />
	  <add key="ELIMINAR_ESPECIALIDADES" value="[SCH_ADMIN].[SP_ELIMINAR_ESPECIALIDAD]" />
	  <add key="FILTRAR_ESPECIALIDADES" value="[SCH_ADMIN].[SP_FILTRAR_ESPECIALIDADES]" />
	  <add key="LISTAR_ESPECIALIDADES" value="[SCH_ADMIN].[SP_MOSTRAR_ESPECIALIDAD_POR_ID]" />
	  <add key="INSERTAR_EXPEDIENTE" value="[SCH_ADMIN].[SP_INSERTAR_EXPEDIENTE]" />
	  <add key="EDITAR_EXPEDIENTE" value="[SCH_ADMIN].[SP_EDITAR_EXPEDIENTE]" />
	  <add key="ELIMINAR_EXPEDIENTE" value="[SCH_ADMIN].[SP_ELIMINAR_EXPEDIENTE]" />
	  <add key="FILTRAR_EXPEDIENTE" value="[SCH_ADMIN].[SP_FILTRAR_EXPEDIENTE]" />
	  <add key="LISTAR_EXPEDIENTE" value="[SCH_ADMIN].[SP_MOSTRAR_EXPEDIENTE_POR_ID_CLIENTE]" />
	  <add key="INSERTAR_FACTURAS" value="[SCH_ADMIN].[SP_INSERTAR_FACTURA]" />
	  <add key="EDITAR_FACTURAS" value="[SCH_ADMIN].[SP_EDITAR_FACTURA]" />
	  <add key="ELIMINAR_FACTURAS" value="[SCH_ADMIN].[SP_ELIMINAR_FACTURA]" />
	  <add key="FILTRAR_FACTURAS" value="[SCH_ADMIN].[SP_FILTRAR_FACTURA]" />
	  <add key="LISTAR_FACTURAS" value="[SCH_ADMIN].[SP_MOSTRAR_FACTURA_POR_ID]" />
	  <add key="INSERTAR_METODO PAGO" value="[SCH_ADMIN].[SP_INSERT_METODO_PAGO]" />
	  <add key="EDITAR_METODO PAGO" value="[SCH_ADMIN].[SP_EDITAR_METODO_PAGO]" />
	  <add key="ELIMINAR_METODO PAGO" value="[SCH_ADMIN].[SP_ELIMINAR_METODO_PAGO]" />
	  <add key="FILTRAR_METODO PAGO" value="[SCH_ADMIN].[SP_FILTRAR_METODO_PAGO]" />
	  <add key="LISTAR_METODO PAGO" value="[SCH_ADMIN].[SP_MOSTRAR_METODO_PAGO_POR_ID]" />
	  <add key="INSERTAR_PROMOCIONES" value="[SCH_ADMIN].[INSERTAR_PROMOCION]" />
	  <add key="EDITAR_PROMOCIONES" value="[SCH_ADMIN].[EDITAR_PROMOCION]" />
	  <add key="ELIMINAR_PROMOCIONES" value="[SCH_ADMIN].[ELIMINAR_PROMOCION]" />
	  <add key="FILTRAR_PROMOCIONES" value="[SCH_ADMIN].[FILTRAR_PROMOCIONES]" />
	  <add key="LISTAR_PROMOCIONES" value="[SCH_ADMIN].[MOSTRAR_PROMOCIONES]" />
	  <add key="INSERTAR_ROLES" value="[SCH_ADMIN].[SP_INSERTAR_ROL]" />
	  <add key="EDITAR_ROLES" value="[SCH_ADMIN].[SP_EDITAR_ROL]" />
	  <add key="ELIMINAR_ROLES" value="[SCH_ADMIN].[SP_ELIMINAR_ROL]" />
	  <add key="FILTRAR_ROLES" value="[SCH_ADMIN].[SP_FILTRAR_ROL]" />
	  <add key="LISTAR_ROLES" value="[SCH_ADMIN].[SP_MOSTRAR_ROL]" />
	  <add key="INSERTAR_ROLES POR USUARIO" value="[SCH_ADMIN].[SP_INSERTAR_ROL_USUARIO]" />
	  <add key="EDITAR_ROLES POR USUARIO" value="[SCH_ADMIN].[SP_EDITAR_ROL_USUARIO]" />
	  <add key="ELIMINAR_ROLES POR USUARIO" value="[SCH_ADMIN].[SP_ELIMINAR_ROL_USUARIO]" />
	  <add key="FILTRAR_ROLES POR USUARIO" value="[SCH_ADMIN].[SP_FILTRAR_ROLES_POR_USUARIO]" />
	  <add key="LISTAR_ROLES POR USUARIO" value="[SCH_ADMIN].[SP_MOSTRAR_ROLES_POR_USUARIO]" />
	  <add key="INSERTAR_SERVICIOS" value="[SCH_ADMIN].[SP_INSERTAR_SERVICIO]" />
	  <add key="EDITAR_SERVICIOS" value="[SCH_ADMIN].[SP_EDITAR_SERVICIO]" />
	  <add key="ELIMINAR_SERVICIOS" value="[SCH_ADMIN].[SP_ELIMINAR_SERVICIO]" />
	  <add key="FILTRAR_SERVICIOS" value="[SCH_ADMIN].[SP_FILTRAR_SERVICIO]" />
	  <add key="LISTAR_SERVICIOS" value="[SCH_ADMIN].[SP_MOSTRAR_SERVICIOS] " />
	  <add key="LISTAR_USUARIO" value="[SCH_ADMIN].[SP_MOSTRAR_SERVICIOS] " />
	  <add key="INSERTAR_USUARIO" value="[SCH_ADMIN].[SP_INSERTAR_USUARIO]" />
	  <add key="EDITAR_USUARIO" value="[SCH_ADMIN].[ActualizarUsuario]" />
	  <add key="ELIMINAR_USUARIO" value="[SCH_ADMIN].[EliminarUsuario]" />
	  <add key="FILTRAR_USUARIO" value="[SCH_ADMIN].[FiltrarUsuarios]" />
	  <add key="LISTAR_USUARIO" value="[SCH_ADMIN].[MostrarUsuarios]" />
  </appSettings>
  
</configuration>