USE [DB_CONSULTORIO]
GO
/****** Object:  StoredProcedure [SCH_ADMIN].[SP_INSERTAR_CLIENTES]    Script Date: 18/4/2023 18:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [SCH_ADMIN].[SP_INSERTAR_CLIENTES]
(
@ID INT,
@NOMBRE NVARCHAR(50),
@APELLIDO1 NVARCHAR(50),
@APELLIDO2 NVARCHAR(50),
@DIRECCION NVARCHAR(50),
@TELEFONO NVARCHAR(50),
@CORREO NVARCHAR(50)

)
AS

BEGIN
    IF EXISTS(
	     SELECT [ID_CLIENTE] 
		 FROM [SCH_ADMIN].[CLIENTES] 
		 WHERE LTRIM(RTRIM([ID_CLIENTE])) =LTRIM(RTRIM(@ID))
	)
       BEGIN
         UPDATE [SCH_ADMIN].[CLIENTES]
         SET [ID_CLIENTE]=@ID
		    ,[NOMBRE_CLIENTE]= @NOMBRE
            ,[APELLIDO1_CLIENTE] = @APELLIDO1
            ,[APELLIDO2_CLIENTE] =@APELLIDO2
            ,[DIRECCION_CLIENTE] = @DIRECCION
            ,[TELEFONO_CLIENTE] =@TELEFONO
            ,[CORREO_CLIENTE] =@CORREO
	     WHERE [ID_CLIENTE] = @ID
       END
     ELSE
        BEGIN

          INSERT INTO [SCH_ADMIN].[CLIENTES]
	           ([ID_CLIENTE]
			   ,[NOMBRE_CLIENTE]
               ,[APELLIDO1_CLIENTE]
               ,[APELLIDO2_CLIENTE]
               ,[DIRECCION_CLIENTE]
               ,[TELEFONO_CLIENTE]
               ,[CORREO_CLIENTE])
           VALUES(@ID,@NOMBRE,@APELLIDO1,@APELLIDO2,@DIRECCION,@TELEFONO,@CORREO);

           --SELECT MAX ([ID_CLIENTE]) FROM [SCH_ADMIN].[CLIENTES]
        END
END

