<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBD1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:89/WCF__BD.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBD1" contract="DBConnection.IBD"
                name="BasicHttpBinding_IBD1" />
        </client>
    </system.serviceModel>
</configuration>